body {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  // border: 2px solid blue;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // border: 2px solid red;
}
nav {
  display: flex;
  align-items: flex-end;
  width: 80%;
  z-index: 2;
  // border: 2px solid pink;

  .container_NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid yellow;
    width: 100%;
    .logo {
      font-weight: bold;
      font-size: 40px;
      margin: 15px;
      width: fit-content;
      // border: 2px solid purple;
    }

    .fa-bars {
      display: none;
    }

    ul.NavBar {
      display: flex;
      justify-content: space-between;
      width: 90%;
      // @include bordered(purple);

      li {
        // @include bordered(yellow);
        width: fit-content !important;
        list-style-type: none;

        a {
          font-size: 13px;
          text-transform: uppercase;
          color: black;

          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
  .container_btnConnexion {
    display: flex;
    align-items: center;
    height: 50px;

    button {
      border: none;
    }
    .day_mode,
    .night_mode {
      margin-right: 5px;
      border-radius: 5px;
      border: 1px solid rgb(201, 201, 201);

      height: 20px;
      width: 20px;
    }
    .day_mode {
      background-color: white;
    }
    .night_mode {
      background-color: black;
    }

    .btnConnexion {
      text-transform: uppercase;
      color: white;
      background-color: grey;

      // height: 30px;
    }
  }
}

.width_half {
  width: 60% !important;
  // border: 2px solid blue;
  margin: 0 auto;
  // height: 50% !important;
}

.display_flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: initial !important;
  align-items: center !important;
  width: 70% !important;
  // border: 2px solid green;
}
.position_fixed {
  background-color: white;
  position: fixed;
  width: 100vw !important;
}
.show {
  display: flex !important;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    ul.NavBar {
      margin-top: 0;
      padding-top: 0;
      // border: 2px solid blue;
      // width: 100%;
      min-width: 427px;
    }

    .container_btnConnexion {
      display: flex;
      justify-content: center;
      // border: 2px solid green;
      width: 100% !important;
    }
  }
}

@media (max-width: 526px) {
  body {
    font-size: 10px;
    width: 100vw;
    overflow-x: hidden;
  }
  nav {
    width: 100%;
    margin-bottom: 40px;

    .container_NavBar {
      // position: relative;
      @include bordered(blue);
      order: 2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 200px;
      .logo {
        font-weight: bold;
        font-size: max(10vw, 25px);
        margin: 15px;
        width: fit-content;
      }

      .fa-bars {
        // position: absolute;
        display: inline-block;
        color: black;
        border: 4px solid black;
        padding: 5px;
        font-size: 30px;
      }

      .fa-bars:hover {
        cursor: pointer;
      }

      ul.NavBar {
        flex-direction: column;
        width: 100px !important;
        justify-content: center;
        align-items: center;
        // position: absolute;
        // @include bordered(red);
        display: none;
        text-align: center;
        padding: 0;
        transition: 1s ease-in-out;
        li {
          line-height: 1.5;
        }
      }
    }
    .container_btnConnexion {
      order: 1;
      height: 100%;
      width: max-content !important;
      display: flex;
      justify-content: flex-end !important;
      align-items: center;
      margin-top: 20px;
      width: 100% !important;
    }
    .btnConnexion {
      font-size: 0.8em;
      padding: 1em;
    }
  }
}

.color_white {
  color: white !important;
}
