.section-categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 170px;
  margin: 40px 0;
  div:nth-child(1) {
    background-image: url("./img/services/service-1.jpg");
  }
  div:nth-child(2) {
    background-image: url("./img/services/service-2.jpg");
  }
  div:nth-child(3) {
    background-image: url("./img/services/slider-3.jpg");
  }
  div {
    flex-basis: max(30%, 276px);
    height: 100%;
    // width: 32%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    h2 {
      width: 70%;
      color: white;
      border-bottom: 2px solid white;
      text-align: center;
    }
  }
}

@media (max-width: 1023px) {
  .section-categories {
    @include bordered(green);
    // min-height: 170px;
    // height: fit-content !important;

    div {
      margin: 10px auto;
    }
  }
}
