.recents_Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-columns: minmax(200px, auto);
    width: 95%;

    > div {
      flex-basis: 314px;
    }

    .luxury-sofa {
      background-image: url("./img/products_mini/product-luxry-sofa.jpg") !important;
    }
    .gloves {
      background-image: url("./img/products_mini/product-gloves.jpg") !important;
    }
    .cups {
      background-image: url("./img/products_mini/product-cups.jpg");
    }
    .bag {
      background-image: url("./img/products_mini/product-bag.jpg");
    }
    .t-shirt {
      background-image: url("./img/products_mini/product-tshitr.jpg");
    }
    .plates {
      background-image: url("./img/products_mini/product-plates.jpg");
    }
    .modern-sofa {
      background-image: url("./img/products_mini/product-modern-sofa.jpg");
    }
    .bed {
      background-image: url("./img/products_mini/product-bed.jpg");
    }
    .shoes {
      background-image: url("./img/products_mini/product-shoes.jpg");
    }
    .img_div {
      position: relative;
      height: max(5vh, 200px);
      width: 90%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: 1s;

      .container-ActionCommand {
        width: 100%;
        display: flex !important;

        position: absolute;
        bottom: 0;
        height: 0;
        visibility: hidden;
        transition: 1s;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          color: white;
          height: 100%;
        }
        .view {
          background-color: rgb(0, 0, 0, 0.8);
        }
        .AddCart {
          background-color: rgba(221, 69, 69, 0.8);
        }
      }
    }
    .img_div:hover {
      transform: scale(1.1);
      .container-ActionCommand {
        height: 20%;
        visibility: visible;
      }
    }

    .description {
      display: flex;
      justify-content: center;
      align-items: center;
      .sale {
        background-color: $red-light;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 25px;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 10px;
      }
      .description_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: fit-content;
        }
        p:last-child {
          margin-top: 0;
        }
        .barred,
        .price {
          font-weight: bold;
        }
        .barred {
          color: grey;
          text-decoration: line-through;
        }
        .price {
          color: $red-light;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .recents_Products {
    .grid {
      display: flex;
      flex-wrap: wrap;

      div {
        flex-basis: 314px;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 526px) {
  .recents_Products {
    .grid {
      display: flex;
      flex-wrap: wrap;

      div {
        flex-basis: 314px;
        margin-bottom: 15px;
      }

      .description {
        .description_text {
          p,
          .barred,
          .price {
            width: fit-content;
            font-size: max(3vw, 14px);
          }
          p:last-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
