@import "./NavBar";
@import "./banniere";
@import "./section-categories";
@import "./section_recents_Products";
@import "./section_Interlude_banniere";
@import "./carroussel";
@import "./container_card";
@import "./form";

@import "./footer";
